# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_URI=mongodb://root:example@mongo:27017/weather?authSource=admin

# JWT / Auth
JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=1h

# Default admin (criado automaticamente no startup)
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=123456

# Worker token: worker envia X-API-TOKEN
WORKER_API_TOKEN=worker-secret-token

# Collector (Open-Meteo)
LATITUDE=-23.55
LONGITUDE=-46.63
COLLECT_INTERVAL_SECONDS=300
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# API (quando usaremos localmente sem docker)
API_URL=http://localhost:3000

# OpenAI (opcional para insights)
OPENAI_API_KEY=
